name: Publish SDK Package

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

on:
  push:
    branches:
      - main

concurrency:
  group: publish-${{ github.repository }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Publish aicost Package
        uses: meistrari/actions/npm/bump-and-publish@main
        with:
            PACKAGE_MANAGER: bun
