name: Publish SDK Package

permissions:
  id-token: write
  contents: write
  issues: write
  pull-requests: write

on:
    push:
        branches:
            - main
        paths:
            - package.json
            - .github/workflows/publish.yaml

concurrency:
    group: publish-${{ github.repository }}
    cancel-in-progress: true

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v4

            -   name: Setup Bun
                uses: oven-sh/setup-bun@v2

            -   name: Install dependencies
                run: bun install --frozen-lockfile

            -   name: Install dependencies
                run: bun run build

            - uses: actions/setup-node@v4
              with:
                node-version: '24'
                registry-url: 'https://registry.npmjs.org'

            - name: 'Publish aicost package'
              run: npm publish

            -   id: version
                name: Get version
                run: |
                    echo "VERSION=$(jq -r .version < package.json)" >> $GITHUB_OUTPUT

            -   name: Create Release
                uses: softprops/action-gh-release@v2
                with:
                    generate_release_notes: true
                    tag_name: v${{ steps.version.outputs.VERSION }}
